In [3]:
1 + 2

3

In [4]:
1 * 3

3

In [5]:
1/2

0.5

In [6]:
2**4

16

In [7]:
hello = 1
hello + 2

3

In [8]:
'hello'

'hello'

In [9]:
"hello"

'hello'

In [10]:
print('ello')

ello

In [11]:
'hello {} and {}'.format('bob', 'billy')

'hello bob and billy'

In [12]:
s = 'hello'

In [13]:
s[0]

'h'

In [14]:
s[3]

'l'

In [16]:
s[0:3]

'hel'

In [17]:
s[1:]

'ello'

In [18]:
[1,2,3]

[1, 2, 3]

In [19]:
[1,'a']

[1, 'a']

In [24]:
d = {'key': 1}

In [25]:
d

{'key': 1}

In [26]:
d['key']

1

In [27]:
True

True

In [28]:
t = (1,2,3) # Tuples are immutable

t[0] = 2

In [30]:
{1,1,1,1,2}

{1, 2}

In [31]:
a = {1}

In [32]:
a.add(1)

In [33]:
a

{1}

In [34]:
a.add(2)

In [35]:
a

{1, 2}

In [36]:
if True:
    print('yep')

yep

In [42]:
if 1 != 1:
    print('foo')
elif 2 == 2:
    print('bah')
else:
    print('bar')

bah

In [39]:
seq = [1,2,3,4]

In [40]:
for item in seq:
    print(item)

1
2
3
4

In [43]:
range(0,5)

range(0, 5)

In [44]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [69]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
[num**2 for num in [1,2]] # like map function

[1, 4]

In [56]:
def my_func(param1='booboo'):
    print(param1)

In [55]:
my_func('hello')

hello

In [58]:
my_func() # trigger default value

booboo

In [61]:
def square(num):
    """
    This is a doc string, this shit cray
    """
    return num ** 2

In [60]:
square(4)

16

In [62]:
# hit shift+tab to see docs and man on functions

In [68]:
# map function
seq = [1,2,3,4]
list(map(square, seq))

[1, 4, 9, 16]

In [67]:
del list # unset a var that has same name as built in function, whew

In [73]:
lambda var:var*2 # lambda expressions, aka shorthand for functions

In [72]:
list(map(lambda var:var*2, seq))

[2, 4, 6, 8]

In [75]:
list(filter(lambda num:num%2==0, seq))

[2, 4]

In [76]:
s = 'hello i am sam'

In [78]:
s.split()

['hello', 'i', 'am', 'sam']

In [80]:
d.keys()

dict_keys(['key'])

In [81]:
d.items()

dict_items([('key', 1)])

In [82]:
'x' in [1,2,3]

False

In [83]:
'x' in ['x','y']

True

In [84]:
x = [(1,2), (3,4)]

In [88]:
# tuple unpacking (can reference each element of tuple with (a,b))

for (a,b) in x:
    print('first {}'.format(a))
    print('second {}'.format(b))

first 1
second 2
first 3
second 4

In [94]:
len([1,2])

2